@font-face {
    font-family: mplus1pbold;
    src: url('./Fonts/mplus1pbold.ttf');
}

:root {
    --lighter: rgba(255, 255, 255, 0.1);
}

body {
    background-color: black;
    color: white;
    margin: 0;
    font-family: 'mplus1pbold';
    display: flex;
    flex-direction: column;
}

header {
    background-color: var(--lighter);
    height: 60px;
    width: 100%;
    display: flex;
}

header div {
    height: 100%;
    flex-grow: 1;
    padding-left: 20px;
    line-height: 62px;
}

main {
    width: 100%;
    height: calc(100% - 60px);
}

#load-direct, #game-list {
    box-sizing: border-box;
    padding-left: 30px;
    padding-right: 30px;
    border: 0px;
    border-top: 10px;
    border-color: var(--lighter);
    border-style: inset;
    margin-top: 20px;
}

#recent-plays {
    box-sizing: border-box;
    height: 60px;
    width: 100%;
    display: flex;
    justify-content: left;
    align-items: center;
    margin-top: 20px;
    padding-left: 30px;
}

.recent-game {
    height: 40px;
    line-height: 20px;
    background-color: var(--lighter);
    margin-right: 30px;
    box-sizing: border-box;
    padding: 10px;
    cursor: pointer;
}

#directInput {
    background-color: var(--lighter);
    color: white;
    border-style: none;
    height: 25px;
    padding-left: 10px;
    padding-right: 10px;
}

#game-list-content {
    display: flex;
    flex-direction: column;
    padding-right: 30px;
}

.game-item {
    margin-top: 5px;
    padding: 5px;
}

.game-item:hover {
    background-color: var(--lighter);
}

#loadButton, .delete-game {
    border-style: none;
    background-color: var(--lighter);
    color: white;
    cursor: pointer;
    padding: 5px;
    width: fit-content;
}

.delete-game {
    margin-left: 80%;
    height: 100%;
}