@font-face {
    font-family: mplus1pbold;
    src: url('./Fonts/mplus1pbold.ttf');
}

body {
    background-color: black;
    color: white;
    margin: 0;
    font-family: 'mplus1pbold'
}

header {
    background-color: rgba(255, 255, 255, 0.1);
    height: 60px;
    width: 100%;
    display: flex;
}

header div {
    height: 100%;
    flex-grow: 1;
    padding-left: 20px;
    line-height: 62px;
}

main {
    width: 100%;
    height: calc(100% - 60px);
}

main div:not(:first-child) {
    border: 0px;
    border-top: 10px;
    border-color: red;
    border-style: inset;
    margin-top: 20px;
}

#recent-plays {
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: left;
    align-items: center;
    margin-top: 20px;
    padding-left: 30px;
}

.recent-game {
    border-style: none;
    height: 80%;
    aspect-ratio: 1;
    background-color: red;
    margin-right: 30px;
}

